body {
    margin: 0;
}
img {
    width: 100%;
}
.sky {
    background-color: #7cd9ff;
    display: flex;
    width: 100vw;
    
    height: 100vh;
    transition: 1.5s;
}
.night {
    background-color: #2e4482;
}
.middle, .side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.middle {
    width: 35%;
}

.side {
   width: 32.5%;
}

.sun {
    position: absolute;
    transition: 1.5s;
}

.night .sun {
    transform: translateY(-100vh);
}

.moon {
    width: 50%;
    position: absolute;
    transition: 1s;
    transform: translateY(100vh);
}
.night .moon{
    transform: translateY(0);
}

.button {
    position: absolute;
    bottom: 30px;
}