body {
    margin: 0;
}
img {
    width: 100%;
}
.sky {
    background-color: #7cd9ff;
    display: flex;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
}
.nigth {
    background-color: #2e4482;
}
.midlle, .side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.midlle {
    width: 35%;
}
.side {
   width: 32.5%;
}